body{
    margin: 0;
    padding: 0;
}

.line{
    background-color: #0099CC;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 30px;
}

.section-subtitle{
    font-size: 17px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    width: 550px;
}

h1{
    margin: 0 0 13px;
    text-align: center;
}

h2, .category{
    font-size: 23px;
    margin: 10px 0 3px;
}

.category{
    color: #4B4B4B;
    font-weight: 500;
    padding-right: 9px;
}

#oferta, #promocje{
    padding: 55px 40px;
}

#oferta p, #promocje p{
    font-size: 16px;
    line-height: 26px;
    padding-top: 18px;
}

.text-format{
    text-align: left;
}

/*/-/-/ header /-/-/*/

.navbar-custom{
    background: transparent;
    border-color: transparent;
    padding-top: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar-custom .nav li a{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.navbar-menu{
    float: right;
}  

.navbar-sticky{
    background-color: white;
    border-bottom: 1px solid red;
    padding-top: 0;
    position: fixed;
    transform: translateY(1px);
    transition: 0.3s transform ease-in-out;
    width: 100%;
    z-index: 3;
}

.navbar-sticky .navbar-brand{
    display: none;
}

.navbar-sticky .navbar-menu{
    display: flex;
    float: none;
    justify-content: center;
}

.navbar-sticky .navbar-menu li{
    padding: 0 1%; 
}


/*/-/-/ slider /-/-/*/

.btn-blue{
    background-color: #0099CC;
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 16px;
    height: 43px;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    width: 148px;
}

.btn-blue span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.btn-blue span:after{
    content: '\276F';
    opacity: 0;
    position: absolute;
    right: -14px;
    top: 1px;
    transition: 0.4s;
}

.btn-blue:hover{
    background-color: #008ab8;
}

.btn-blue:hover span{
    padding-right: 16px;
}

.btn-blue:hover span:after{
    opacity: 1;
    right: 0;
}

#slider{
    background-attachment: fixed; 
    background-image: url("../grafika/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
    height: 85vh;
    text-align: center;
}

#slider p{
    color: white;
    padding-top: 22%;
    text-align: center;
}

.slider-subtitle{
    display: inline-block;
    font-size: 23px;
    font-weight: 300;
    margin-top: 23px;
    width: 450px;
}

.slider-title{
    font-size: 45px;
    line-height: 45px;
}

/*/-/-/ oferta /-/-/*/

#oferta{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

#oferta .offer{
    display: inline-flex;
    justify-content: center;
}

#oferta .subtitle{
    font-size: 17px;
}

.svg-icons{
    margin: 1px 18px;
    width: 48px;
}

#car-svg{
    margin-top: 8px;
    width: 39px;
}

#interlude{
    background-color: green;
    height: 210px;
    padding: 0;

}

/*/-/-/ promocje /-/-/*/

#promocje{
    font-size: 20px;
    height: 100vh;
}

#promocje .line{
    margin-bottom: 60px;
}

#promocje .promotion{
    display: inline-flex;
    justify-content: center;
}

#promocje h2{
    color: #0099CC;
}

#promocje p{
    line-height: 100px;
}

/*/-/-/ cennik /-/-/*/



/*/-/-/ ranking /-/-/*/



/*/-/-/ kontakt /-/-/*/

#kontakt{
    background-color: #857C8D;
    height: 100vh;
}

#location{
    background-color: #522B29;
    height: 100vh;
}


// @media (min-width: 992px) and (max-width: 1199px) {
    
/*/-/-/ header /-/-/*/
    
/*/-/-/ slider /-/-/*/
    
/*/-/-/ oferta /-/-/*/
    
/*/-/-/ promocje /-/-/*/
    
/*/-/-/ cennik /-/-/*/

/*/-/-/ ranking /-/-/*/

/*/-/-/ kontakt /-/-/*/
    
// }

// @media (min-width: 768px) and (max-width: 991px) {
    
// }

// @media (min-width: 576px) and (max-width: 767px) {

// }

// @media (max-width: 575px) {
    
// }



